@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(238, 236, 236);
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.7;
  font-size: 13px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 30% 60%;
    grid-template-rows: 10% 20% 70%;
}

header {
    display: flex;
    grid-column: 1 / 4;
    justify-content: space-between;
}

nav {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

aside {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    
}

section {
    grid-column: 3 / 4;
}

main {
    grid-column: 3 / 4;
}

.item {
    background: steelblue;
    color:#f5f5f5;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
}

.header__menu, .nav__menu{
    list-style-type: none;
}

.header__menu li {
    float: left;
}

.header__menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav__menu li {
    margin-bottom: 30px;
}
.media__header {
    display: flex;
    justify-content: space-between;
    border: 2px solid skyblue;
    border-radius: 5px;
    padding: 5px;
}

.media__header button {
    padding:10px
}

.media__title {
    text-align: center;
}
.block__button {
    margin-top: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
}
.two__group__buttons button {
    display: inline-block;
    width: calc(50% - 2px);
    margin: 0 auto;
}

.three__group__buttons button {
    display: inline-block;
    width: calc(33.33% - 3px);
    margin: 0 auto;
}
.media__record {
    margin-top: 20px;
}
.end__call {
    align-self: flex-end;
}